@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* @apply bg-secondary-50; */
  background-color: #e5eafa4f;
}
*::selection {
  @apply bg-brand-500 text-white-1;
}
.text-light {
  @apply text-white-main;
}
.text-dark {
  @apply text-dark-500;
}
.box-shadow {
  box-shadow: 0px 0px 5px 3px #e4e4e4ab;
}
.box-shadow-2 {
  box-shadow: 0px 0px 5px 3px #e4e4e485;
}
.tw-shadow-2 {
  @apply shadow-[0px_0px_5px_3px_#5f4747];
}
.tw-shadow-3{
  @apply !shadow-[0_-1px_2px_1px_#a8a29e];
}

h1 {
  @apply text-xl md:leading-[1.5rem] lg:!leading-[3rem] text-[1.3rem] md:text-[1.5rem] lg:text-[3rem] 2xl:text-[3.5rem] text-dark-500 font-[700] !mb-0;
}
h2 {
  @apply text-lg md:text-[1.3rem] lg:text-[2rem] 2xl:text-[2.6rem] text-dark-500 font-[700];
}
h3 {
  @apply text-[1rem] md:text-[1.2rem] lg:leading-7 lg:text-[1.5rem] 2xl:text-[2rem] text-dark-500 font-[700];
}
h4 {
  @apply text-[1rem] lg:text-[1.1rem] 2xl:text-[2rem] text-dark-500 font-[700];
}
h5 {
  @apply mb-0 font-semibold tracking-wide max-sm:text-sm md:text-[1.1rem] text-dark-300 leading-[18px] text-wrap;
}
.text {
  @apply text-[.8rem] md:text-[1rem] 2xl:text-[1.2rem] leading-5 text-dark-100 [&:not(:first-child)]:mt-3;
}
.flex-center {
  @apply flex items-center justify-center gap-2;
}
.flex-between {
  @apply flex items-center justify-between gap-2;
}
.flex-evenly {
  @apply flex items-center gap-2 justify-evenly;
}
.center {
  @apply flex items-center justify-center;
}
.start {
  @apply flex items-start;
}
.tw-container {
  @apply sm:max-w-[90%] max-sm:px-4 md:max-w-[87%] xl:max-w-[80%] w-full mx-auto  py-6 pb-8  md:py-8 md:!pb-12 lg:py-12 lg:pb-16;
}
.tw-space-y {
  @apply gap-y-4 md:gap-y-6 lg:gap-y-10;
}
.course-grid-4{
  @apply grid w-full sm:grid-cols-2 lg:grid-cols-4 2xl:grid-cols-5 gap-x-4 gap-y-4 md:gap-x-2.5 md:gap-y-5  lg:gap-x-7 xl:gap-x-5 lg:gap-y-7 *:rounded-sm
}
.footer-link{
  @apply hover:underline decoration-brand-500 hover:underline-offset-[5px] cursor-pointer select-none flex-between !gap-1 max-md:pointer-events-none
}
.header-styles{
  @apply text-sm font-medium !gap-1 text-gray-500 flex-between
}


input::placeholder,
select::placeholder {
  color: #a8a29e;
}


